.journal_main_content{
    display: flex;
}

.journal_sidebar{
    background-color: $dark-grey;
    color: white;
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding-left: 10px;
    padding-right: 10px;
    width: 450px;
}

.journal_sidebar_navbar{
    display: flex;
    justify-content: space-between;

}

.journal_sidebar_navbar h3{
    font-weight: lighter;
}

.journal_new_entry{
    align-items: center;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 30px;
    width: 100%;

    transition: color .3s ease;
    
    &:hover{
        color: darken($color: white, $amount: 20);
    }

}

.journal-entries{
    margin-top: 30px;
    flex: 1 1 auto;
    overflow-y: scroll;
}

.journal_entry{
    background-color: white;
    border-radius: 4px;
    color: $dark-grey;
    justify-content: space-between;
    display: flex;
    margin-bottom: 10px;
    overflow: hidden;
    

}

.journal_entry-picture{
    height: 75px;
    width: 75px;

}

.journal-entry-body{
  padding: 10px;  
}
.journal-entry-title{
    font-size: 20px;
    font-weight: bold;
}
.journal-entry-content{
    font-size: 10px;
}

.journal-entry-date-box{
    align-items: end;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5px;
}

.journal-entry-date-box span{
    font-size: 12px;
}

